
.DisplayRoot {
    font-family: monospace;
    font-size: 20pt;
    margin: auto;
    width: 50%;
}

.MainInput-inner {
    font-family: monospace;
    font-size: 20pt;
    text-align: right;
}

.StackDisplay-gutter {
    float: left;
}

.StackDisplay-gutter-cell {
    width: 60px;
}

.StackDisplay-content-line {
    white-space: pre;
}